<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iyh.player">

    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <activity
            android:name=".PlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
    </application>
</manifest>
